Leibit.Core/Data/Areas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="infrastructureManager">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DB" />
      <xs:enumeration value="OEBB" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="leibit">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="area">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="estw">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="dataFile" type="xs:string" use="required" />
                  <xs:attribute name="infrastructureManager" type="infrastructureManager" use="required" />
                  <xs:attribute name="ignoreRoutingDigits" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>