Leibit.Core/Data/ESTW.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="estw">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="station">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scheduleFile" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="track" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attribute name="fileName" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="track">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="block">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="direction" type="direction" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="alternative">
                      <xs:complexType>
                        <xs:attribute name="track" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="block">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="direction" type="direction" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="alternative">
                            <xs:complexType>
                              <xs:attribute name="track" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="isPlatform" type="xs:boolean" use="optional" />
                        <xs:attribute name="calculateDelay" type="xs:boolean" use="optional" />
                        <xs:attribute name="name" type="xs:string" use="optional" />
                        <xs:attribute name="displayName" type="xs:string" use="optional" />
                        <xs:attribute name="displaySubName" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="isPlatform" type="xs:boolean" use="optional" />
                  <xs:attribute name="calculateDelay" type="xs:boolean" use="optional" />
                  <xs:attribute name="name" type="xs:string" use="optional" />
                  <xs:attribute name="displayName" type="xs:string" use="optional" />
                  <xs:attribute name="displaySubName" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="short" type="xs:string" use="required" />
            <xs:attribute name="refNr" type="xs:unsignedShort" use="required" />
            <xs:attribute name="scheduleFile" type="xs:string" use="optional" />
            <xs:attribute name="localOrderFile" type="xs:string" use="optional" />
            <xs:attribute name="displayName" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>